@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F9FAFB;
  color: #111827;
}

@layer components {
  .rtl-text {
    direction: rtl;
    font-family: serif;
  }
}
